{% extends "bootstrap/base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}
{% block html_attrbs %} lang="en" {% endblock %}
v
{% block title %}NYC's Publications Submission Protal{% endblock %}

{% block head %}
{{ super() }}
  <meta name="description" content="NYC's Publications Submission Portal is used to submit publications to the public">
  <meta name="agency" content="Department of Records and Information Services">
{% endblock %}

{%  block styles %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block body_attribs %} style="background-image: url(../static/images/background.jpg); background-size: cover; overflow-y: hidden; background-repeat: no-repeat;" {% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename = 'images/nyc_purple.gif') }}" alt="NYC" id="brand_img">
        Government Publications Submission Portal
    </a>
  </div>
</nav>
{% endblock %}


{% block content %}
<div id="wrap" >
  <div class="container" id="SignIn">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Sign In</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form role="form" method="post">
                    {{ form.hidden_tag() }}
                    <fieldset>
			    	  	<div class="form-group">
                            {{ form.username.label }}
                            {{ form.username(class="form-control", placeholder="Username", type="text") }}
			    		</div>
			    		<div class="form-group">
                            {{ form.password.label }}
                            <a class="modal-link pull-right" data-toggle="modal" data-target=".pass-modal">Forgot Password?</a>
                            {{ form.password( class="form-control", placeholder="Password", type="password") }}
			    		</div>
			    		<div class="checkbox">
                            {{ form.remember_me.label }}
                            {{ form.remember_me() }}
			    	    </div>
                        <a class="modal-link" data-toggle="modal" data-target=".contact-modal">Need an Account?</a>
                            {{ form.login(class="btn btn-success pull-right", id="login", type="submit", value="Login") }}
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade pass-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
                <p>Enter your email and we’ll send you an instructions to reset your password.</p>
              <div class="controls">
                <input required="" id="email" type="email" class="form-control" placeholder="Email" class="input-medium">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <input id="reset" class="btn btn-success" value="Reset Password">
              </div>
            </div>
            </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div>
 </div>

<!-- Contact Modal -->
<div class="modal fade contact-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact DEPT. OF RECORDS</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
                <div class="controls">
                    <label for="name">Name</label>
                    <input id="email" type="text" class="form-control" placeholder="Name" class="input-medium" required>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label for="email">Email</label>
                    <input required="" id="email" type="email" class="form-control" placeholder="Email" class="input-medium" required>
                </div>
            </div>

            <div class="control-group">
                <div class="form-group" id="message">
                    <label for="message">Message</label>
                    <textarea id="message-box" class="form-control" rows="5" required></textarea>
                </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <input id="reset" class="btn btn-success" value="Submit">
              </div>
            </div>
            </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div>
 </div>

<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
      <div class="container" id="footer_inner">
        <p id="help">For assistance with this site, contact City Hall Library at <a href="mailto:chlibrary@records.nyc.gov" target="_top">chlibrary@records.nyc.gov</a></p>
        <p id="agency">© 2014 Department of Records</p>
      </div>
</div>
{% endblock %}