.row-fluid{
    margin-top:30px;
}

a p{
    font-size:16px;
}

.icon:hover{
    color: #3573b7;
}

a:hover{
   background-color: #c7b9ff;
   color: white;
}

.round_link {
border-radius: 20px;
margin-bottom: 10%;
padding-top: 5%;
padding-bottom: 5%;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    background-color: #905fb2;
    width:300px;
    text-align: center;
}

.box-link{
    width:300px;
    min-height: 160px;
    text-align: center;
}

#main{
    max-width: 1000px;
}

.icons{
   padding-bottom: 100px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.num_docs {
    border-radius: 7px;
    background-color: mediumpurple;
    color:white;
    padding: 0px 8px 0px 8px;"
}

.fa-stack{
    font-size:1.5em;
}

.user_plus{
    margin-left:35px;
    margin-bottom: -30px;
    width:50%;
    color:green;
}

.fa-times{
    color: #ff342b;
}

.fa-check{
    color: #00d200;
}