#main{
    margin-top:30px;
}

a p{
    font-size:16px;
}



.round_link {
border-radius: 20px;
margin-bottom: 10%;
padding-top: 5%;
padding-bottom: 5%;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    background-color: #905fb2;
}