{% extends "bootstrap/base.html" %}
{% block html_attrbs %} lang="en" {% endblock %}

{% block title %}NYC's Publications Submission Protal{% endblock %}

{% block head %}
{{ super() }}
  <meta name="description" content="NYC's Publications Submission Portal is used to submit publications to the public">
  <meta name="agency" content="Department of Records and Information Services">
{% endblock %}

{%  block styles %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block body_attribs %} style="background-image: url(../static/images/background.jpg);  background-size:100%; overflow-y: hidden; background-repeat: no-repeat;" {% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename = 'images/nyc_purple.gif') }}" alt="NYC" id="brand_img">
        Government Publications Submission Portal
    </a>
  </div>
</nav>
{% endblock %}


{% block content %}
<div id="wrap" >
  <div class="container" id="SignIn">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default" style="border-color:mediumpurple">
			  	<div class="panel-heading" style="background-color:mediumpurple; border-color:mediumpurple;">
			    	<h3 class="panel-title" style="color:#f5f5f5">Sign In</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                            <h5>Username</h5>
			    		    <input class="form-control" placeholder="Username" name="username" type="text">
			    		</div>
			    		<div class="form-group">
                            <h5>Password</h5>
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    </div>
			    		<input class="btn btn-success" type="submit" value="Login">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
  </div>

</div>
<div id="footer">
      <div class="container" id="footer_inner">
        <p class="help">For assistance with this site, contact City Hall Library at <a href="mailto:chlibrary@records.nyc.gov" target="_top">chlibrary@records.nyc.gov</a> Department of Records 2014</p>
      </div>
</div>
{% endblock %}