{%  extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/forms.css') }}">
{% endblock %}

{% block content %}
<div class="container form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" method="POST">
          {{ form.hidden_tag() }}
          <fieldset>
            <legend class="text-center">Add a New User</legend>
            <!-- Username input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="username">{{ form.username.label }}</label>
              <div class="col-md-7">
                {% if form.username.errors %}
                    {{ form.username(type="text", placeholder="Username", class="form-control error") }}
                    {% for error in form.username.errors %}
                        <p class="validation-message">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    {{ form.username(type="text", placeholder="Username", class="form-control") }}
                {% endif %}
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="password">{{ form.password.label }}</label>
                <div class="col-md-7">
                    {% if form.password.errors %}
                        {{ form.password(placeholder="Password", type="password", class="form-control error") }}
                        {% for error in form.password.errors %}
                            <p class="validation-message">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ form.password(placeholder="Password", type="password", class="form-control") }}
                    {% endif %}
                </div>
            </div>

            <!-- First_Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="First_Name">{{ form.first.label }}</label>
              <div class="col-md-7">
                  {% if form.first.errors %}
                          {{ form.first(type="text", placeholder="First_Name", class="form-control error") }}
                      {%  for error in form.first.errors %}
                          <p class="validation-message">{{ error }}<p>
                      {% endfor %}
                  {% else %}
                      {{ form.first(type="text", placeholder="First_Name", class="form-control") }}
                  {% endif %}
              </div>
            </div>

            <!-- Last_Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="Last_Name">{{ form.last.label }}</label>
              <div class="col-md-7">
                  {% if form.last.errors %}
                      {{ form.last(type="text", placeholder="Last_Name", class="form-control error") }}
                      {%  for error in form.last.errors %}
                          <p class="validation-message">{{ error }}<p>
                      {% endfor %}
                  {% else %}
                      {{ form.last(type="text", placeholder="Last_Name", class="form-control") }}
                  {% endif %}
              </div>
            </div>

            <!-- Agency Input -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="type">{{ form.agency.label }}</label>
                <div class="col-md-7">
                    {% if form.agency.errors %}
                        {{ form.agency(class="form-control error") }}
                        {% for error in form.agency.errors %}
                            <p class="validation-message">{{ error }}</p>
                        {% endfor %}
                    {%  else %}
                        {{ form.agency(class="form-control") }}
                    {% endif %}
                </div>
            </div>

            <!-- Role Input -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="role">{{ form.role.label }}</label>
                <div class="col-md-7">
                    {% if form.role.errors %}
                        {{ form.role(class="form-control error") }}
                        {% for error in form.role.errors %}
                            <p class="validation-message">{{ error }}</p>
                        {% endfor %}
                    {%  else %}
                        {{ form.role(class="form-control") }}
                    {% endif %}
                </div>
            </div>

            <!-- Phone Input -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="type">{{ form.phone.label }}</label>
                <div class="col-md-7">
                    {% if form.phone.errors %}
                        {{ form.phone(type="tel", class="form-control error", placeholder="Phone") }}
                        {% for error in form.phone.errors %}
                            <p class="validation-message">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ form.phone(type="tel", class="form-control", placeholder="Phone") }}
                    {% endif %}
                </div>
            </div>

            <!-- Email Input -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="type">{{ form.email.label }}</label>
                <div class="col-md-7">
                    {% if form.email.errors %}
                        {{ form.email(type="tel", class="form-control error", placeholder="Email") }}
                        {% for error in form.email.errors %}
                            <p class="validation-message">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ form.email(type="tel", class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-10 text-right">
                {{ form.submit(class="btn btn-purple") }}
              </div>
            </div>

          </fieldset>
          </form>
        </div>
      </div>
    </div>
</div>
{{ super() }}
{% endblock %}

