{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/forms.css') }}">
{% endblock %}

{% block content %}
<div class="container form">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit User
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" role="form">
                {{ form.hidden_tag() }}
                    <fieldset>
                        <div class="container">
                            <label class="col-md-5">Username</label>
                            {{ user.username }}
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">First Name</label>
                            <div class="input">
                            {% if form.first.errors %}
                                {{ form.first(class="form-control error") }}
                                {% for error in form.first.errors %}
                                    <p class="validation-message">{{ error }}</p>
                                {% endfor %}
                            {% else %}
                                {{ form.first(class="form-control") }}
                            {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Last Name</label>
                            <div class="input">
                            {% if form.last.errors %}
                                {{ form.last(class="form-control error") }}
                                {% for error in form.last.errors %}
                                    <p class="validation-message">{{ error }}</p>
                                {% endfor %}
                            {% else %}
                                {{ form.last(class="form-control") }}
                            {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Phone Number</label>
                            <div class="input">
                                {% if form.phone.errors %}
                                    {{ form.phone(class="form-control error") }}
                                    {% for error in form.phone.errors %}
                                        <p class="validation-message">{{ error }}</p>
                                    {% endfor %}
                                {% else %}
                                    {{ form.phone(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Email</label>
                            {{ user.email }}
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Agency</label>
                            {{ user.agency }}
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Role</label>
                            {{ user.role }}
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Last Visited</label>
                            {{ user.last_visited }}
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Total Visits</label>
                            {{ user.visits }}
                        </div>
                        <hr>
                        <div class="container">
                            <label class="col-md-5">Documents Submitted</label>
                            {{ docs }}
                        </div>
                        <hr>
                        <input class="btn btn-danger col-md-2" value="Delete">
                        {{ form.submit(class="pull-right btn btn-success") }}
                    </fieldset>
                </form>
            </div>
        </div>
            </div>
    </div>
</div>
{% endblock %}