{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtfs %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/submitted.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/forms.css') }}">
{% endblock %}


{% block content %}
<div class="container" style="padding-bottom: 100px">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" role="form">
                {{ form.hidden_tag() }}
                    <fieldset>
                        <legend class="text-center">Edit a Document</legend>
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="title">{{ form.title.label }}</label>
                          <div class="col-md-9">
                            {% if form.title.errors %}
                                {{ form.title(id="title-input", type="text", class="form-control error") }}
                                {% for error in form.title.errors %}
                                    <p class="validation-message">{{ error }}</p>
                                {% endfor %}
                            {% else %}
                                {{ form.title(id="title-input", type="text", placeholder="Title of Publication", class="form-control") }}
                            {% endif  %}
                          </div>
                        </div>

                        <!-- Type input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="type">{{ form.type_.label }}</label>
                            <div class="col-md-9">
                                {% if form.type_.errors %}
                                    {{ form.type_(class="form-control error") }}
                                    {% for error in form.type_.errors %}
                                        <p class="validation-message">{{ error }}</p>
                                    {% endfor %}
                                {% else %}
                                    {{ form.type_(class="form-control")}}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="type">Date Created</label>
                            <div class="col-md-3">
                                {% if form.year.errors %}
                                    {{ form.year(class="form-control error") }}
                                    {% for error in form.year.errors %}
                                        <p class="validation-message">{{ error }}</p>
                                    {% endfor %}
                                {% else %}
                                    {{ form.year(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {% if form.month.errors %}
                                    {{ form.month(class="form-control error") }}
                                    {% for error in form.month.errors %}
                                        <p class="validation-message">{{ error }}</p>
                                    {% endfor %}
                                {% else %}
                                    {{ form.month(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {% if form.day.errors %}
                                    {{ form.day(class="form-control error") }}
                                    {% for error in form.day.errors %}
                                        <p class="validation-message">{{ error }}</p>
                                    {% endfor %}
                                {% else %}
                                    {{ form.day(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-3 control-label" for="message">{{ form.description.label }}</label>
                          <div class="col-md-9">
                           {% if form.description.errors %}
                               {{ form.description(class = "form-control error", id=message, placeholder="Please enter at least 100 characters...", rows="6", style="resize:none") }}
                               {% for error in form.description.errors %}
                                   <p class="validation-message">{{ error }}</p>
                               {% endfor %}
                           {% else %}
                               {{ form.description(class = "form-control", id=message, placeholder="Please enter at least 100 characters...", rows="6", style="resize:none") }}
                           {% endif %}
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-3 control-label" for="message">Url(s):</label>
                          <div class="col-md-9" style="margin-top: 8px" >
                            {%  for result in results %}
                                <a href={{ result[0].doc_url }} target="_blank">{{ result[0].doc_url }}</a>
                            {% endfor %}
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-12 text-right">
                            {{ form.edit(class="btn btn-primary btn-lg", style="background-color: mediumpurple; border-color: mediumpurple") }}
                          </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}