{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/home.css') }}">

{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="row-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="row-fluid">
                    <h3>Welcome, {{ current_user.first }}</h3>
                    <p>Use the options below to submit a document, view your documents, or view your publications
                    In 2003, the City Council passed Local Law 11, an amendment to the City Charter, which requires City agencies to submit all official documents to the Department of Records for publication on the Dept. of Records website. You may view the full text of <a href="http://egov.nycnet/dor/law03011.pdf">Local Law 11 here.</a></p>
                </div>
                <div class="row-fluid"  id="main">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="row-fluid">
                            <div class="col-md-4 box-link">
                                <a href="{{ url_for("submit") }}" class="btn icon">
                                    <i class="fa fa-paper-plane fa-3x"></i>
                                    <h4>SUBMIT</h4>
                                    <p>Submit your publications <br> via url or upload</p>
                                </a>
                            </div>
                            <div class="col-md-4 box-link">
                                <a href="{{ url_for('submitted_docs') }}" class="btn icon">
                                    <i class="fa fa-file fa-3x"></i>
                                    <h4>Submitted</h4>
                                    <p>View <span class="num_docs">{{ publishing_docs }}</span> Publications awaiting <br> publication</p>
                                </a>
                            </div>
                            <div class="col-md-4 box-link">
                                <a href="{{ url_for('published_docs') }}" class="btn icon">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-file fa-stack-2x"></i>
                                      <i class="fa fa-check fa-inverse fa-stack-1x"></i>
                                    </span>
                                    <h4>Published</h4>
                                    <p>View <span class="num_docs">{{ published_docs }}</span> Published Documents <br> and Stats</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if role == "Admin" %}
                        <div class="row-fluid"  id="main">
                            <div class="col-md-12 col-md-offset-0">
                                <div class="row-fluid">
                                    <div class="col-md-4 box-link">
                                        <a href="{{ url_for("signup") }}" class="btn icon">
                                            <span class="fa-stack fa-lg">
                                              <i class="fa fa-user fa-stack-2x"></i>
                                              <i class="fa fa-plus fa-stack-1x user_plus"></i>
                                            </span>
                                            <h4>Add Users</h4>
                                            <p>Add New Users <br> via url or upload</p>
                                        </a>
                                    </div>
                                    <div class="col-md-4 box-link">
                                        <a href="{{ url_for('users') }}" class="btn icon">
                                            <i class="fa fa-users fa-3x"></i>
                                            <h4>View Users</h4>
                                            <p>Manage Users</p>
                                        </a>
                                    </div>
                                    <div class="col-md-4 box-link">
                                        <a href="{{ url_for('published_docs') }}" class="btn icon">
                                            <i class="fa fa-signal fa-3x"></i>
                                            <h4>Statistics</h4>
                                            <p>View Stats</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock %}