{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
    {{ super() }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script>
        $('.selectpicker').selectpicker();
    </script>
    <script>
        function recipient_selected(name_selected){
            console.log(name_selected.value);
            selected = name_selected.value;
            if (selected == "Agencies"){
                $("#agencies_select").show();
                $("#users_select").hide();
            }
            else if (selected == "Users"){
                $("#users_select").show();
                $("#agencies_select").hide();
            }
            else {
                $("#users_select").hide();
                $("#agencies_select").hide();
            }
        }
    </script>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container form">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" method="POST" role="form">   
                        {{ form.hidden_tag() }}
                        <fieldset> 
                            <legend class="text-center">"Message Users"</legend>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="recipients">{{ form.recipients.label }}</label>
                                <div class="col-md-7">
                                    {% if form.recipients.errors %}
                                        {{ form.recipients(class="selectpicker error", onchange="recipient_selected(this);") }}
                                        {% for error in form.recipients.errors %}
                                            <p class="validation-message">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.recipients(class="selectpicker", onchange="recipient_selected(this);") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group" id="agencies_select" style="display:none;">
                                <label class="col-md-3 control-label" for="agencies">{{ form.agencies.label }}</label>
                                <div class="col-md-7">
                                    {% if form.agencies.errors %}
                                        {{ form.agencies(class="selectpicker form-control error") }}
                                        {% for error in form.agencies.errors %}
                                            <p class="validation-message">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.agencies(class="selectpicker", multiple=true )}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group" id="users_select" style="display:none;">
                                <label class="col-md-3 control-label" for="users">{{ form.users.label }}</label>
                                <div class="col-md-7">
                                    {% if form.users.errors %}
                                        {{ form.users(class="selectpicker form-control error") }}
                                        {% for error in form.users.errors %}
                                            <p class="validation-message">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.users(class="selectpicker", multiple=true )}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="subject">{{ form.subject.label }}</label>
                                <div class="col-md-7">
                                    {% if form.subject.errors %}
                                        {{ form.subject(class="form-control error", placeholder="Subject" ,type="text") }}
                                        {% for error in form.subject.errors %}
                                            <p class="validation-message">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.subject(class="form-control", placeholder="Subject" ,type="text") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="message">{{ form.subject.label }}</label>
                                <div class="col-md-7">
                                    {% if form.message.errors %}
                                        {{ form.message(class="form-control error", id="message" , rows="10", placeholder="Message Content") }}
                                        {% for error in form.message.errors %}
                                            <p class="validation-message">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.message(class="form-control", id="message" , rows="10", placeholder="Message Content") }}
                                    {% endif %}
                                </div>
                            </div>
                                <div class="form-group">
                                  <div class="col-md-10 text-right">
                                    {{ form.submit(class="btn btn-purple") }}
                                  </div>
                                </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
{% endblock %}