{% extends 'base.html' %}


{% block content %}
    {{ super() }}
    <form role="form" method="POST">
    {{ form.hidden_tag() }}
    <div class="container" style="margin-top: 50px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Manage Users
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Agency</th>
                                    <th>Document Submitted</th>
                                    <th>Last Visited</th>
                                    <th>Edit</th>
                                    <th><a data-toggle="modal" data-target="#remove-users" class="btn btn-danger btn-xs" href="#">Remove</a></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user[0].username }}</td>
                                    <td>{{ user[0].first + ' ' + user[0].last }}</td>
                                    <td>{{ user[0].agency }}</td>
                                    <td>{{ user[1] }}</td>
                                    <td>{{ user[0].last_visited }}</td>
                                    <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                    {% if current_user.id != user[0].id %}
                                        <td><input type="checkbox" name="removeUser_{{ user[0].id }}" value="{{ user[0].id }}" style="margin-left: 21px;"></td>
                                    {% else %}
                                        <td><p style="margin-left: 15px;">You</p></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="remove-users" role="dialog" tab-index="-1" aria-labelledby="publish_errors" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Remove Users</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete these users?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {{ form.submit(class="btn btn-danger", type="submit") }}
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}