{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtfs %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/published.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/table.css') }}">
{% endblock %}

{% block content %}
<div class="container info_table">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ results[0][0].title }}</h3>
                </div>
                <div class="panel-body">
                    <h5>Submitted By</h5>
                    <div class="well well-sm">
                        <p> {{ results[0][2].username }}</p>
                    </div>
                    <h5>Description</h5>
                    <div class="well well-sm">
                        <p> {{ results[0][0].description }}</p>
                    </div>
                    <h5>Type</h5>
                    <div class="well well-sm">
                        <p> {{ results[0][0].type }}</p>
                    </div>
                    <h5>Category</h5>
                    <div class="well well-sm">
                        <p> {{ results[0][0].category }}</p>
                    </div>
                    <h5>Date Created</h5>
                    <div class="well well-sm">
                        <p> {{ results[0][0].dateCreated }}</p>
                    </div>
                    <h5>Url(s)</h5>
                    <div class="well well-sm">
                        {% for doc in results %}
                            {% if doc[1].section %}
                                <p>{{ doc[1].section }}</p>
                                <br>
                            {% endif %}
                            <a href={{ doc[0].doc_url }}>{{ doc[0].doc_url }}</a>
                            <br>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}